<div class="jumbotron">
  <p class="lead">This app shows you how to integrate Paytm payment gateway into your Rails project. To proceed you need to have valid credentials from Paytm. Click <a href="https://business.paytm.com/payments">here</a> if you would like to request for credentials.</p>
  <p>
    <%= link_to "Test Payment via Paytm", checkout_path, class: "btn btn-lg btn-success" %>
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
  </div>

  <div class="col-lg-6">
  </div>
</div>